# pixi environments
.pixi/*
!.pixi/config.toml

# ROS 2 build artifacts
build/
install/
log/
src/

# Pixi cache / environment directories
.pixie/
.env/
__pycache__/

# Conda caches if any
*.conda
*.tar.bz2

# Temporary files
*.swp
*.tmp
